.margin-nav {
    margin-top: 80px
}

.logo {
    width: 76px;
    height: 40px;
    background-image: url('images/logo.png');
}

.inputQuantity {
    width: 30px;
}

/* Detail Voucher */
.titleVoucher {
    font-size: 40px;
}

/* Voucher List */
.voucherList{
    padding-top: 40px;
}